
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

.body-wrapper button{
  background: dodgerblue;
  outline: none;
  border: none;
  color: white;
  height: 35px;
  padding: 0 30px;
  border-radius: 50px;
  margin-top: 50px;
}

.body-wrapper {
  min-height: 100vh;
  align-items: center;
}

.body-wrapper p {
  border-radius:25px;
  color: white;
  text-shadow: 0 2px 0 grey;
  border: 2px solid rgba(255, 255, 255, 0.8);
  padding: 20px 20px 20px 20px;
  transition: all 0.3s ease;
}
.wrapper {
  display: inline-flex;
}

.wrapper .static-txt {
  font-size: 20px;
  font-weight: 400;
  color: white;
  transition: all 0.3s ease;
  text-shadow: 0 2px 0 dodgerblue;
  padding-bottom: 25px;
}

.text-container h3 {
  font-size: 50px;
  color: white;
  text-shadow: 3px 3px 5px blue;
  transition: all 0.3s ease;
}

.divider {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
}

.divider2 {
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 80px;

}
.divider hr {
  border: none;
  height: 3px;
  background-color: lightsteelblue;
  margin: 0;
}

.navbar {
  background-image: linear-gradient(to bottom, dodgerblue, cornflowerblue);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.text-container {
  padding-left: 0px;
  padding-top: 125px;
  justify-content: left;
}

.about-me {
  display: flex;
  padding-left: 50px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
}

body {
  background: cornflowerblue;
}

img {
  width: 60%;
  height: auto;
  padding-bottom: 100px;
  margin-left: auto;
}


/* <<class>> <<class of i>> */
.navbar__icons {
  font-size: 24px; /* Adjust the size as needed */
  text-shadow: 0 2px 0 dodgerblue;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar__logo {
  color: white;
  font-size: 30px;
  text-shadow: 0 5px 0 dodgerblue;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__item {
  height: 80px;
  text-shadow: 0 2px 0 dodgerblue;
}

.navbar__links {
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0 3px 0 dodgerblue;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}

.navbar__icons {
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0 3px 0 dodgerblue;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: linear-gradient(to right, dodgerblue, deepskyblue);
  color: white;
  text-shadow: 0 3px 0 cornflowerblue;
  transition: all 0.3s ease;
}

.navbar__links:hover {
  color: white;
  transition: all 0.3s ease;
  text-decoration: underline;
}

.navbar__icons:hover {
  color: white;
  transition: all 0.3s ease;
}

#navbar__logo:hover {
  color: white;
  transition: all 0.3s ease;
}

.body-wrapper button:hover {
  color: white;
  transition: all 0.3s ease;
  text-decoration: underline;
}

.button:hover {
  text-decoration: underline;
  transition: all 0.3s ease;

}

@media screen and (max-width: 850px) {
  .divider-2 {
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 10px;
  }



  .about-me {
    margin-bottom: 0;
  }

  .body-wrapper button{

    border-radius: 15px;
    font-size: 10px;

  }

  .wrapper .static-txt {
    font-size: 14px; /* Adjust font size for mobile */
  }

  .text-container h3 {
    font-size: 30px; /* Adjust font size for mobile */
  }

  /* If you have other text elements you want to resize, add them here */


  .body-wrapper p {
  font-size: 12.5px;
  }

  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }


  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }

  .navbar__menu.active {
    background: cornflowerblue;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 60vh;
    font-size: 1.6rem;
  }

  #navbar__logo {
    padding-left: 25px;
    font-size: 20px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navbar__icons {
    padding: 2rem;
    width: 100%;
    text-align: center;
    display: table;
  }

  .navbar__btn {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
